<div class="container">
  <h1 class="text-center">PR City</h1>
  <div class="cta">
    <%= link_to new_user_registration_path do %>
    <button type="button" class="btn-pop">Register</button>
    <% end %>
    <%= link_to new_user_session_path do %>
    <button type="button" class="btn-pop">Log In</button>
    <% end %>
  </div>
</div>
