@import "reset";
@import "global";
@import "mediaQueries";
@import "fonts";
@import "grid";
@import "hero";
@import "nav";
@import "sidebar";
@import "buttons";
@import "forms";
@import "footer";
@import "helpers";
@import "animations";
@import "home";

html {
  background: image-url('city1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
  font-size: 5em;
  color: $color-pop;
}

.new_exercise, .edit_exercise {
  background-color: $color-pop;
}

.exercise-list {
  background-color: $color-pop;
  padding: 40px;
}

hr {
  margin-bottom: 20px;
}

.white {
  color: $light;
}
